<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../index.html">BACK</a>
    <center> <h1>Biryani</h1></center>

     <li>CHIKEN BIRYANI</li> <DEL>600</DEL>  <INS>550</INS>
         <img src="../img/CH.jpg" alt="image loading">
         <BR></BR>
     <li>BEEF BIRYANI</li><DEL>800</DEL>  <INS>750</INS>
     <img src="../img/BEE.jpg" alt="image loading">
     <BR></BR>
     <li>NALI BIRYANI</li><DEL>500</DEL>  <INS>400</INS>
     <img src="../img/NALI.jpg" alt="image loading">

</body>
</html>