<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../index.html">BACK</a>
   <center> <h1>FAST FOOD</h1></center>
    <li>ZINGER BURGER</li> <DEL>300</DEL>  <INS>240</INS><BR></BR>
        <img src="../img/burger.jpg" alt="image loading">
    
    <li>FRENCH FRIES</li><DEL>150</DEL>  <INS>100</INS><BR></BR>
    <img src="../img/frech fries.jpg" alt="image loading">

    <li>CRISPY ROLL</li><DEL>250</DEL>  <INS>200</INS><BR></BR>
    <img src="../img/roll.jpg" alt="image loading">

    <li>BROST</li><DEL>300</DEL>  <INS>250</INS><BR></BR>
    <img src="../brost.jpg" alt="image loading">
    
</body>
</html>