<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../index.html">BACK</a>
    <center> <h1>JUICE</h1></center>
     <li>MANGO JUICE</li> <DEL>220</DEL>  <INS>200</INS>
         <img src="../img/man.jpg" alt="image loading">
         <BR></BR>
     <li>BANANA SHAKE</li><DEL>150</DEL>  <INS>100</INS>
     <img src="../img/bana.jpg" alt="image loading">
     <BR></BR>
     <li>PAKOLA</li><DEL>200</DEL>  <INS>150</INS>
     <img src="../img/pakola.jpg" alt="image loading">

</body>
</html>